.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  height: 100vh; /* Full viewport height */
  padding: 20px;
}

.left-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between keyboard and button */
  align-items: center;
  padding: 20px;
}

.reset-button {
  background-color: #ffffff;
  border: 3px solid #007bff; /* Blue border */
  border-radius: 8px; /* Curved square border */
  color: #007bff; /* Blue color for text */
  font-size: 25px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.reset-button:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
}
